{
  "presets": ["env"],
  "plugins": [],
  "env": {
    "development": {
      "ignore": [
        "**/__tests__",
        "**/*.test.js"
      ]
    },
    "production": {
      "ignore": [
        "**/__tests__",
        "**/*.test.js"
      ]
    }
  }
}